<app-menu2 *ngIf = 'auth.deslogado()'></app-menu2>
<section class="w100 py-5 bg-success svgbg">
    <div class="container bg-success">
        <h1 class="text-center sobre-text-color m-5">Sobre nós</h1>
        <p id="sobre" class="text-justify sobre-text-color">
            Somos um grupo de estudantes de Desenvolvimento Web Full-Stack do bootcamp da Generation Brasil, e fomos
            desafiados a criar um projeto cujo impacto social estivesse de acordo com um dos <a class="text-white"
                href="https://brasil.un.org/pt-br/sdgs" target="_blank">Objetivos de Desenvolvimento Sustentável da ONU</a>.
        </p>
        <p id="sobre" class="text-justify sobre-text-color">
            O objetivo escolhido foi <a class="text-white" href="https://brasil.un.org/pt-br/sdgs/16" target="_blank">Paz, Justiça e Instituições eficazes</a>
            , que tem como premissas promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso à justiça para todos e construir instituições eficazes, responsáveis e inclusivas em todos os níveis.
        </p>
        <p id="sobre" class="text-justify sobre-text-color mb-5">
            Pensando nisso, desenvolvemos o MAH, com o intuito de aglomerar e disponibilizar informações sobre direitos humanos, politicas públicas e instituições eficazes, tudo Isso por meio desta rede social e publicações feitas por usuários e adimistradores.
        </p>
        <br><br><br><br>
    </div>
</section>

<section class="w-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-1">
                <div class="card sobre-text-color bg-vverde mb-3 border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Missão</h5>
                        <hr class="bg-white">
                        <p class="card-text">
                            Proporcionar acesso a informação e instrução a grupos marginalizados na sociedade para capacitar seu desenvolvimento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-1">
                <div class="card sobre-text-color bg-vverde mb-3 border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Visão</h5>
                        <hr class="bg-white">
                        <p class="card-text">
                            Através do suporte e orientação a informação, fazer com que a sociedade trabalhe de forma eficaz promovendo justiça para todos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-1">
                <div class="card sobre-text-color bg-vverde mb-3 border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Valores</h5>
                        <hr class="bg-white">
                        <ul>
                            <li>Responsabilidade social e tecnológica;</li>
                            <li>Excelência derivada da diversidade de pessoas e pensamentos;</li>
                            <li>Inclusão;</li>
                            <li>Aprendizagem contínua;</li>
                            <li>União;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="w-100 py-5">
    <div class="container">
        <h1 class="mb-5 text-center">Nosso time</h1>
        <div class="row d-flex justify-content-center">
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/88987234?v=4" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Leonardo</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/leorusso2300" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="50px" width="50px">
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/leonardorussodev/" role="button">
                        <img src="https://png.pngtree.com/element_our/png/20180827/linkedin-social-media-icon-png_71812.jpg" height="50px" width="50px">
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/49730563?v=4" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Larissa</h4>

                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/larissaoliveiragithub" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="50px" width="50px">
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/dev-larissa/" role="button">
                        <img src="https://png.pngtree.com/element_our/png/20180827/linkedin-social-media-icon-png_71812.jpg" height="50px" width="50px">
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/89085287?v=4" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Alvaro</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/alvaroasevedo" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="50px" width="50px">
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/alvaro-miguel-marins-asevedo-24717716b/" role="button">
                        <img src="https://png.pngtree.com/element_our/png/20180827/linkedin-social-media-icon-png_71812.jpg" height="50px" width="50px">
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://scontent.fcgh43-1.fna.fbcdn.net/v/t1.6435-9/201430068_1377736342605017_823031541038737541_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rAJEuBe-iPwAX9Dhazr&_nc_ht=scontent.fcgh43-1.fna&oh=12c600b13cc869922da11c18997497a3&oe=61B06558" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Juan</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/Jcenteno123" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="50px" width="50px">
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/feed/" role="button">
                        <img src="https://png.pngtree.com/element_our/png/20180827/linkedin-social-media-icon-png_71812.jpg" height="50px" width="50px">
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/89218351?v=4" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Leila</h4>

                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/21Leila" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="50px" width="50px">
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/leilafernandadasilva/" role="button">
                        <img src="https://png.pngtree.com/element_our/png/20180827/linkedin-social-media-icon-png_71812.jpg" height="50px" width="50px">
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
        </div>
    </div>
</section>
<app-rodape></app-rodape>
