<nav>
  <div class="menu">
    <div class="title text-white">Biblioteca</div>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="btn btn-outline-light mt-2" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens"
        role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
        postagens</a>


      <a (click)='findByIdUsuario()' class="btn btn-outline-light mt-2" id="nav-minhasPostagens-tab" data-toggle="tab"
        href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
        postagens</a>

      <a (click)='getAllTemas();' class="btn btn-outline-light mt-2" id="nav-postagemTema-tab" data-toggle="tab"
        href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por
        tema</a>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row d-flex align-items-center" style="background-color: #12a050;">

    <div class="col-md-6">

      <div class="row d-flex justify-content-center ">
        <div class="col-md-6 text-white">
          <h1 style="font-size: 54px;">MAH</h1>
          <h2>Me ajuda humano</h2>
          <h4>Orientar para incluir e incluir para crescer.</h4>
        </div>

      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-outline-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova
            Postagem</button>
          <button class="btn btn-outline-light mr-2" routerLink='/tema'>Temas</button>
          <a class="btn btn-outline-light mt-2" href="#postagens">Ver Postagens</a>
        </div>

      </div>

    </div>
    <div class="col-md-6 d-flex justify-content-center mt-3 mb-5">
      <img src="https://i.imgur.com/pNg4fiJ.png" alt="Fundo" width="500px" height="500px">
    </div>
  </div>
</div>

<div class="row d-flex align-items-center">
  <div class="container mb-5 mt-5" id="postagens">



    <div class="tab-content mt-5 " id="nav-tabContent">

      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">

        <div class="row d-flex justify-content-center mt-5 mb-5">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" id="titulo"
                placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]='tituloPost'
                (keyup)='findByTituloPostagem()'>
            </div>
          </div>
        </div>
        <div class="card-columns ">
          <div class="card text-center" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
            <div class="card-body" style="background: #ffffff;
          ;">



              <img src="{{item.usuario.foto}}" alt="" width="100px" height="100px" class="rounded-circle">

              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <small class="text-muted">Tema: {{item.tema.descricao}} </small>
              <p class="card-text mt-3">{{item.texto}}</p>
              <a href="{{item.link}}" target="_blank" class="card-link">Acessar link</a>
              <p class="card-text"><small class="text-muted">{{item.data | date: "dd/MM/yyyy"}} às {{item.data
                  | date: "HH:mm"}}</small></p>

              <p class="card-text"><small class="text-muted">by {{item.usuario.nome}}</small></p>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

        <div class="card-columns">
          <div class="card text-center" *ngFor='let item of user.postagem | orderBy : key : reverse'>
            <div class="card-body">




              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <small class="text-muted">Tema: {{item.tema.descricao}} </small>
              <p class="card-text mt-3">{{item.texto}}</p>
              <a href="{{item.link}}" target="_blank" class="card-link">{{item.link}}</a>
              <p class="card-text"><small class="text-muted">{{item.data | date: "dd/MM/yyyy"}} às {{item.data
                  | date: "HH:mm"}}</small></p>

              <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
              <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

        <div class="row d-flex justify-content-center mt-5 mb-5">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" id="titulo"
                placeholder="Digite um tema de postagem para pesquisar" [(ngModel)]='nomeTema'
                (keyup)='findByNomePostagem()'>
            </div>
          </div>
        </div>

        <div class="card-columns" *ngFor='let tema of listaTemas'>
          <div class="card text-center" *ngFor='let item of tema.postagem | orderBy : key : reverse'>
            <div class="card-body">
              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <p class="card-text mt-3">{{item.texto}}</p>
              <a href="{{item.link}}" class="card-link">{{item.link}}</a>
              <p class="card-text"><small class="text-muted">{{item.data | date: "dd/MM/yyyy"}} às {{item.data
                  | date: "HH:mm"}}</small></p>
              <p class="card-text"><small class="text-muted">by {{item.usuario.nome}}</small></p>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>







<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>




      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>


        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="titulo">Link</label>
          <input [(ngModel)]='postagem.link' type="text" class="form-control" id="titulo" placeholder="Coloque o link">
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>Cadastre um novo</a>:</label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>